.dashboard-wrapper {
  min-height: 100vh;
}

.table-wrapper {
  padding-top: 3rem;
  overflow-x: auto;
  width: fit-content;
  margin: 0 auto;
}

.action-bar {
  display: flex;
  padding-bottom: 0.5rem;
}

.action-bar > button {
  border: 1px solid rgba(89, 101, 219, 1);
  background-color: transparent;
  color: black;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.action-bar > button:hover {
  background-color: rgba(89, 101, 219, 0.25);
  border: 1px solid rgba(89, 101, 219, 0.25);
  transition: 100ms;
}
