.dashboard-wrapper {
  margin-left: 10rem;
}

.table-wrapper {
  overflow-x: auto;
  max-width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.8rem;
}

.table-wrapper::-webkit-scrollbar {
  height: 0.5rem;
  overflow: auto;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50vw;
}

.table-wrapper::-webkit-scrollbar-track-piece {
  border-radius: 20rem;
}

.header {
  height: 100px;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  white-space: nowrap;
}

@media (width < 1024px) {
  .dashboard-wrapper {
    margin-left: 0px;
  }
}
