.container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  --radius: 80%;
  --color-1: 18, 113, 255
  --color-2: 224, 74, 255
}

.gradients-container {
  filter: url(#blurMe) blur(40px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100000000000;
  --blend-mode: hard-light;
}

.blob {
  position: absolute;
  --posCenter: calc(50% - var(--radius) / 2);
  top: --posCenter;
  left: --posCenter; 
}


.blob-1 {
  top: -600px;
  left: -600px;
  mix-blend-mode: var(--hard-light);
  transform-origin: top left;
  /* animation: rotateBlob 50s linear reverse infinite; */
}

.blob-2 {
  top: -200px;
  left: -200px;
  mix-blend-mode: var(--hard-light);
  transform-origin: calc(50% - 200px);
  /* animation: moveVertically 66s ease-in-out alternate-reverse infinite; */
}

.blob-3 {
  top: 30px;
  left: 200px;
  mix-blend-mode: var(--hard-light);
  transform-origin: calc(50% + 200px);
  /* animation: rotateBlob 42s linear infinite; */
}

.blob-4 {
  top: -400px;
  right: -700px;
  mix-blend-mode: var(--hard-light);
  transform-origin: 50% calc(50% + 100px);
  /* animation: moveHorizontally 52s alternate ease-in-out infinite; */
}

.blob-5 {
  top: -200px;
  right: -630px;
  mix-blend-mode: var(--hard-light);
  transform-origin: calc(50% - 600px);
  /* animation: moveHorizontally 84s alternate-reverse ease-in-out infinite; */
}

.blob-6 {
  top: 450px;
  left: -200px;
  mix-blend-mode: var(--hard-light);
  transform-origin: calc(50% - 600px);
}

.no-animation {
  animation: none
}


@keyframes rotateBlob {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes moveVertically {
  0% {
    transform: translateY(-50%)
  }
  100% {
    transform: translateY(50%)
  }
}

@keyframes moveHorizontally {
  0% {
    transform: translate(-60%, 10%)
  }
  100% {
    transform: translate(60%, 0%)
  }
}

@media (prefers-reduced-motion) {
  .gradients-container {
    display: none;
  }
}