.navbar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 1rem
}

.navbar {
  display: flex;
  gap: 2rem;
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--nav-height);
  align-items: center;
  color: var(--general-1);
}

.navbar > li {
  font-size: 21px;
  font-weight: 600;

}

.navbar > div {
  margin-left: auto;
}