.navbar {
  display: flex;
  gap: 2rem;
  position: sticky;
  top: 0;
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--nav-height);
  align-items: center;
  color: var(--general-1);
}

.navbar > li {
  font-size: 21px;
  font-weight: 600;

}

.navbar > div {
  margin-left: auto;
}