.navbar-wrapper {
  --font-size: 1.2rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 1rem;
  transition: 300ms;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(20px);
}

.navbar {
  display: flex;
  gap: 3rem;
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--nav-height);
  align-items: center;
  color: var(--general-1);
  transition: height 300ms ease-out;
  justify-content: space-between;
}

.navbar > li {
  position: relative;
  font-size: var(--font-size);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: calc(var(--font-size) / 4);
}

.logo {
  height: 25px;
}

.ispo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--general-1);
  width: 7rem;
  height: 2.5rem;
  background-color: transparent;
  transition: 200ms;
  font-weight: 400;
}

.ispo-button:hover {
  cursor: pointer;
  background-color: var(--general-1);
  color: black;
  border: 1px solid transparent;
  width: 8rem;
}

.ispo-button > span:first-child {
  transition: 200ms;
}

.ispo-button:hover > span:first-child {
  transform: translateX(-1rem);
}

.ispo-button > *:last-child {
  position: absolute;
  transition: 200ms;
  right: 0.5rem;
  display: none;
  animation: arrow-slide 200ms ease-in-out;
}

.ispo-button:hover > *:last-child {
  display: inline;
}

@keyframes arrow-slide {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
