.button {
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 66px;
  height: 66px;
  border-radius: 100vw;
}

.button:hover {
  cursor: pointer;
  border: 2px solid white;
}