.table {
  color: black;
  padding: 0.5rem;
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 0.75rem 0.5rem;
}

.table td {
  border: 1px solid black;
}

.table th {
  background-color: rgba(89, 101, 219, 1);
  color: white;
  height: 3rem;
  font-weight: 600;
}

.head > tr > th {
  text-align: left;
}

.head .center-align {
  text-align: center;
}

.center-align {
  text-align: center;
}

.table img {
  opacity: 0.5;
}

.table img:hover {
  opacity: 1;
  transition: opacity 100ms;
}
