.table {
  color: white;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.head > tr > th {
  text-align: left;
  font-weight: 500;
}

.table th,
.table td {
  padding: 0.25rem 0.5rem;
  height: 3rem;
}

.table td,
.table th {
  min-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table tr > td:first-child {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  padding-left: 1rem;
}

.table td:last-child {
  width: fit-content;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding-right: 1rem;
}

.table tr:not(.head > tr) {
  background-color: #121826;
}

.head .center-align {
  text-align: center;
}

.center-align {
  text-align: center;
}

.icon {
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
  transition: opacity 100ms;
}

.table img {
  opacity: 0.5;
  filter: invert(0.9);
}

.table img:hover {
  opacity: 1;
  transition: opacity 100ms;
}

.button {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  text-wrap: nowrap;
  min-width: 6rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.search-input {
  width: 8rem;
  height: 1.8rem;
  background-color: #121826;
  border: 1px solid #393f4a;
  outline: none;
  transition: border-color 100ms;
  padding-left: 0.25rem;
  font-size: 1.05rem;
  border-radius: 0.25rem;
}

.search-input:focus {
  border-color: #536589;
}

.action-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.action-bar > input {
  height: 2.1rem;
}
