.wrapper-div {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #393f4a;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
  font-weight: 400;
  height: min(600px, calc(100vh - 2rem));
  width: min(500px, calc(100vw - 2rem));
}

.form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form label {
  margin-left: 0.1rem;
}

.form input {
  transition: border 200ms;
  display: block;
  margin-top: 0.5rem;
  width: 90%;
  background-color: transparent;
  border: 1px solid #393f4a;
  height: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}
.form input:focus {
  border: 1px solid rgb(66, 137, 137);
  outline: none;
}

.form > button {
  margin-top: 1rem;
  width: 6rem;
  background-color: transparent;
  border: 1px solid darkslategray;
  border-radius: 0.5rem;
  height: 2rem;
}

.form > button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 100ms;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
