@keyframes slidein-left {
  from {
    transform: translateX(-1920px);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slidein-right {
  from {
    transform: translateX(1920px);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.main {
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100vh;
  display: flow-root;
  /* ^ handles collapsing margins */
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.left-hero,
.right-hero {
  max-width: 50%;
}

.left-hero > h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 600;
  line-height: clamp(3rem, 5vw, 4.5rem);
  transform: translateX(-1920px);
  animation: var(--animation-duration) forwards slidein-left;
}

.left-hero > p {
  opacity: 0.8;
  font-weight: 300;
  transform: translateX(-1920px);
  animation: var(--animation-duration) forwards slidein-left;
  animation-delay: 50ms;
}

.ispo-button {
  transform: translateX(-1920px);
  animation: var(--animation-duration) forwards slidein-left;
  animation-delay: 50ms;
  border: 1px solid var(--general-1);
  /* border: none; */
  height: 3rem;
  width: 10rem;
  background-color: transparent;
  /* background-color: rgba(1, 107, 212, 1) */
  margin-top: 2rem;
  font-size: 1.2rem;
  transition: 250ms;
  font-weight: 700;
}
.ispo-button:hover {
  cursor: pointer;
  background-color: var(--general-1);
  color: black;
  border: none;
}

.right-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateX(1920px);
  animation: var(--animation-duration) forwards slidein-right;
}

.stat-wrapper > :first-child {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  white-space: nowrap;
}
.stat-wrapper > :first-child::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: -1.5rem;
  top: 0;
}

.stat-wrapper > div > :first-child {
  font-size: 8rem;
  line-height: 6rem;
  font-weight: 800;
  margin-right: 1rem;
}
.stat-wrapper > div > :last-child {
  font-size: 4rem;
  font-weight: 600;
}

.ispo-section {
  width: 100%;
  margin-bottom: 2rem;
}

.ispo-grid-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
