.row:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 100ms;
}

.table-head p {
  font-weight: 500;
}

.arrow {
  font-weight: 300;
  margin-left: auto;
}

.table-head th > div {
  display: flex;
}