.main {
  padding: var(--nav-height) 0;
  max-width: var(--max-width);
  margin: 0 auto;
}

.row:not(.unsortable):hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 100ms;
}

.table-head p {
  font-weight: 500;
}

.arrow {
  font-weight: 300;
}

.table-head .row {
  padding: 0;
}

.query {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  flex-grow: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--primary-color);
  padding: 1rem;
  border: 1px solid var(--secondary-color);
}

.table td,
.table th {
  padding: 0.5rem;
  min-width: 5rem;
}

.table th {
  text-align: left;
  text-wrap: nowrap;
}

.table th > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.table th:first-child {
  min-width: 25rem;
}

.table tr {
  border-bottom: 1px solid var(--secondary-color);
  height: 2.8rem;
}

.wrapper {
  overflow-x: auto;
}

.skeleton > td {
  background-color: white;
  animation: skeleton-animation 2s infinite ease;
  opacity: 0;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.08;
  }
  100% {
    opacity: 0;
  }
}
.twitter {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  width: fit-content;
  margin-right: 1rem;
  margin-left: auto;
}

.tweet {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  padding: 0.25rem 1rem;
  border: 1px solid var(--general-1);
  transition: 100ms;
  margin-left: auto;
  height: 2.5rem;
}

.tweet:hover {
  transform: translate(2px, -2px);
}

.search-wrapper {
  margin-bottom: 0.5rem;
}

.search {
  width: 8rem;
  height: 1.75rem;
  background-color: rgba(10, 9, 16, 0.5);
  border: 1px solid #393f4a;
  outline: none;
  transition: border-color 100ms;
  padding-left: 0.25rem;
  font-size: 1.05rem;
}

.search:focus {
  border-color: #536589;
}

@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .help {
    display: none;
  }
}
