*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0B090A;
  --primary-color-no-hex: 11, 9, 10;
  --secondary-color: #161A1D;
  --accent-1: #660708;
  --accent-2: #E5383B;
  --accent-3: #A4161A;
  --accent-4: #BA181B;
  --general-1: #FFFFFF;
  --general-2: #F5F3F4;
  --nav-height: 5rem;
  --max-width: 1350px;
  --animation-duration: 600ms
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #FFFFFF;
    --primary-color-no-hex: 240, 240, 240;
    --secondary-color: #F5F3F4;
    --accent-1: #660708;
    --accent-2: #E5383B;
    --accent-3: #A4161A;
    --accent-4: #BA181B;
    --general-1: #0B090A;
    --general-2: #161A1D;
  }
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
  background: linear-gradient(90deg, rgba(12,0,255,0.2) 0%, rgba(12,0,255,0) 50%, rgba(12,0,255,0.2) 100%);
  /*  ^ unsure about this */
}
.app-wrapper {
  padding: 0 1rem;
  background-color: rgb(var(--primary-color-no-hex), 0.8);
  backdrop-filter: blur(180px);
  -webkit-backdrop-filter: blur(180px);
  min-height: 100vh;
}
.blob-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.blob {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: rgb(61, 61, 153);
  border-radius: 100vw;
  z-index: -100;
}
.blob-1 {
  top: 300px;
  left: 90%
}
.blob-2 {
  top: 3%;
  left: 6%
}
.blob-3 {
  bottom: 10%;
  left: 50%
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: inherit;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.footer {
  height: 200px;
  color: var(--general-1);
  background-color: var(--secondary-color);
}