*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0b090a;
  --primary-color-no-hex: 11, 9, 10;
  --secondary-color: #161a1d;
  --accent-1: #660708;
  --accent-2: #e5383b;
  --accent-3: #a4161a;
  --accent-4: #ba181b;
  --general-1: #ffffff;
  --general-1-rgb: 255, 255, 255;
  --general-2: #f5f3f4;
  --nav-height: 5rem;
  --max-width: 1350px;
  --animation-duration: 600ms;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ffffff;
    --primary-color-no-hex: 240, 240, 240;
    --secondary-color: #f5f3f4;
    --accent-1: #660708;
    --accent-2: #e5383b;
    --accent-3: #a4161a;
    --accent-4: #ba181b;
    --general-1: #0b090a;
    --general-1-rgb: 0, 0, 0;
    --general-2: #161a1d;
  }
} */

.app-wrapper {
  padding: 0 1rem;
  background-color: rgb(var(--primary-color-no-hex), 0.8);
  backdrop-filter: blur(180px);
  -webkit-backdrop-filter: blur(180px);
  min-height: 100vh;
  overflow-x: hidden;
}
.blob-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.blob {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: rgb(61, 61, 153);
  border-radius: 100vw;
  z-index: -100;
}
.blob-1 {
  top: 300px;
  left: 90%;
}
.blob-2 {
  top: 3%;
  left: 6%;
}
.blob-3 {
  bottom: 10%;
  left: 50%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: inherit;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.footer {
  height: 200px;
  color: var(--general-1);
  background-color: var(--secondary-color);
}

button {
  padding: 0.5rem;
  text-wrap: nowrap;
  min-width: 6rem;
  min-height: 1.5rem;
  background-color: #656ee6;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}
