*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.35rem;
}

:root {
  --primary-color: #090909;
  --primary-color-no-hex: 11, 9, 10;
  --secondary-color: #191419;
  --accent-1: #0033ad;
  --general-1: #ffffff;
  --general-1-rgb: 255, 255, 255;
  --general-2: #f5f3f4;
  --nav-height: 5rem;
  --max-width: 1350px;
  --animation-duration: 600ms;
  --landing-grid-width: 300px;
}

html {
  color-scheme: dark;
}

body {
  background-color: rgb(var(--primary-color-no-hex));
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.app-wrapper {
  padding: 0 1rem;
  min-height: 100vh;
  /* background: linear-gradient(
    -50deg,
    rgb(var(--primary-color-no-hex), 1) 60%,
    rgba(0, 0, 21, 1) 100%
  ); */
  display: flow-root;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: inherit;
  list-style: none;
}

.footer {
  height: 200px;
  color: var(--general-1);
  background-color: var(--secondary-color);
}

button {
  padding: 0.5rem;
  text-wrap: nowrap;
  min-width: 6rem;
  min-height: 1.5rem;
  background-color: #656ee6;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}
