@keyframes slidein-left {
  from {
    transform: translateX(-1920px);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slidein-right {
  from {
    transform: translateX(1920px);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.main {
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100vh;
  display: flow-root;
  /* ^ handles collapsing margins */
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.left-hero, .right-hero {
  max-width: 50%
}

.left-hero > h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 600;
  line-height: clamp(3rem, 5vw, 4.5rem);
  transform: translateX(-1920px);
  animation: var(--animation-duration) forwards slidein-left
}

.left-hero > p {
  opacity: 0.8;
  font-weight: 300;
  transform: translateX(-1920px);
  animation: var(--animation-duration) forwards slidein-left;
  animation-delay: 50ms;
}

.ispo-button {
  transform: translateX(-1920px);
  animation: var(--animation-duration) forwards slidein-left;
  animation-delay: 50ms;
  border: 1px solid var(--general-1);
  padding: 1rem 2rem;
  background-color: transparent;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.ispo-button:hover {
  cursor: pointer;
  scale: 1.05;
}


.right-hero {
  width: 50%;
  height: 40%;
  transform: translateX(1920px);
  animation: var(--animation-duration) forwards slidein-right
}
.right-hero > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.ispo-section {
  width: 100%;
  margin-bottom: 2rem;
}

.ispo-grid-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
